* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #141519;
}
section {
    width: 415px;
    height: 405px;
    background-color: #202731;
    border-radius: 30px;
    padding: 35px;
    color: white;
    font-family: "Overpass", sans-serif;
}
.img {
    background-color: #272e38;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
}
h1 {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 25px;
}
p {
    color: gray;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}
.letter {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 30px;
}
.a {
    width: 60px;
    height: 60px;
    background-color: #262f38;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
h2 {
    color: gray;
    font-size: 20px;
    font-weight: 400;
}
button {
    width: 400px;
    height: 45px;
    border-radius: 20px;
    background-color: #fb7713;
    border: none;
    color: #141519;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 5px;
}
.a:hover {
    background-color: #fb7713;
}
button:hover {
    background-color: white;
}